/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121;
  font-size: 1.4rem;
}

.header {
  background-color: pink;
  height: 10vh;
}

.search-form {
  background-color: orange;
  height: 20vh;
}

main {
  background-color: yellow;
  height: 50vh;
}

.footer {
  background-color: gray;
  height: 20vh;
}