/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* Accessibility Styles */
.a11yHidden, legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 본문 스타일 */
body {
  color: #212121;
  font-size: 1.4rem;
}

.header {
  background-color: pink;
  height: 10vh;
}

.search-form {
  background-color: orange;
  height: 20vh;
}

/* 메인영역 */
main {
  padding: 0 100px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 0 10% 100px 10%;
  min-width: 1024px;
  box-sizing: border-box;
}

.category-list-item{
  position: relative;
  box-sizing: border-box;
  min-height: 115px;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  padding: 10px 8% 0 8%;
  margin: 100px 0 0 0;
}

.category-list-icon img{
  display: block;
  width: 70px;
  height: 70px;
  margin-top: 50px;
  position: absolute;
  object-fit: fill;
  left: -20px;
  top: -35px;
}

.category-list-item-title{
  font-size: 24px;
  font-weight: 700;
}
.category-list-item-desc {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.category-list-desc div{
  display: block;
}

.category-list-link{
  color: #4c5fd5;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.footer {
  height: 360px;
  background-color: #000000; 
  color: #ccc;
  display: flow-root;
  position: relative;
}

.abstract, .resources, .community, .company {
  margin: 50px 6%;
  float: left;
}

.abstract > h2, 
.resources > h2, 
.community > h2, 
.company > h2 {
  color: #fff;
  padding-bottom: 5px;
}

.abstract li, 
.resources li, 
.community li, 
.company li {
  padding: 2px 0;
} 
.abstract {
  margin-left: 12%;
}

.resources {
  float: left; 
}

.community {
  float: left; 
}

.company {
  float: left; 
}

.address {
  margin-top: 20px;
}

.address span{
  display: block;
  font-style: normal;
}

.address span:first-child {
  font-weight: 700;
  color: #fff;
}

.copyright {
  background: url("../styles/images/logo-1.png") no-repeat 0 0;
  font-size: 16px;
  padding-top: 30px;
  clear: both;
  position: absolute;
  top: 50%;
  right: 10%;
  white-space : pre-line;
  color: #fff;
}

/* 검색 영역 */
fieldset {
  border: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form {
  /* max-width: 1200px; */
  /* position: absolute; */
  margin: 0 auto;
  background-color: #dadbf1;
  height: 396px;
  width: auto;
}

.search-form fieldset {
  position: relative;
}

.te-textitl {
  font-size: 65px;
  position: relative;
  text-align: center;
}

.search-form-input {
  display: block;
  border-width: 1px;
  /* float: left; */
  width: 680px;
  height: 50px;
  box-shadow: 4px 4px 5px 2px gray;
  border-radius: 4px;
  margin: 0 auto;
}

.search-button-form {
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: absolute;
  left: 660px;
  top: 18px;
}

.search-button-form:hover {
  background-color: blue;
}

.search-button {
  background: url("../styles/images/arrow_forward.png") no-repeat;
  width: 30px;
  height: 30px;
  padding-top: 40px;
  border: none;
}
.header{background-color: black;
  width:auto;
  height:89px;
  display: flex;
  align-items: center;
  color:white;
  }

.logo{
  flex-grow: 1;
  padding-left: 234px;
  display: flex;
  align-items: center;
}

.help{
  font-size:24px;
  font-weight:540;
}

.line{
  width:2px;
  height:32px;
  background-color: white;
  display: inline-block;
  margin-right:12px;
}

.logo .help:hover, .logo .help:focus{
  text-decoration: underline;
}

.request, .login{
  border-radius: 10px;
  height:52px;
  text-align: center;
  line-height: 52px;
  font-size: 25px;
  font-weight: 520;
}

.request{
  margin-left : 20px;
  margin-right: 20px;
  width: 233px;
  border: 1px solid white;
  background-color: transparent;

}

.login{
  margin-right:100px;
  width: 140px;
  border: 1px solid #4C5FD5;
  background-color: #4C5FD5;
  transition: 200ms;
}

.login:hover, .login:focus{
  background-color: white;
  border: 1px solid white;
  color:black;
}

.link{
  display: block;
  width: 170px;
  height: 50px;
  position:absolute;
  left:60px;
  top: 19px;
  transition: 300ms;
}

.link .logoLink {
  background: url("../styles/images/logoFinal2.png") no-repeat 0 0/100% 100%;
  width:100%;
  height:100%;
}

.link:hover{
  opacity: 0.8;
}